<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PowerSquare.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="PowerSquare"
      connectionString="Data Source=SQL-MMW01\INSTANCEMMW01;Initial Catalog=MMW_Examples;Persist Security Info=True;User ID=mmwexamples;Password=mmwexamples" />
  </connectionStrings>
  <userSettings>
    <PowerSquare.Properties.Settings>
      <setting name="OperationMode" serializeAs="String">
        <value />
      </setting>
      <setting name="Language" serializeAs="String">
        <value />
      </setting>
    </PowerSquare.Properties.Settings>
  </userSettings>
</configuration>