@page "/tabbed"
<div class="container">
    <TabControl>
        <TabPage Text="Match">
            <p></p><Match />
        </TabPage>
        <TabPage Text="Replace">
            <p></p><Replace />
        </TabPage>
        <TabPage Text="Email">
            <p></p><Email />
        </TabPage>
    </TabControl>
</div>

@code {

}
